header{
    background-color: #2C3F50;
    border: 1px solid black;
    color: white;
}
.hero{
    background-color: rgb(27, 188, 156);
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
}
.padding{
    padding: 50px 100px;
}
/* Portfolio */
.padding-top{
    padding-top: 40px;
}
.padding-img{
    padding: 30px;
}
.background-color{
    background-color:thistle;
}
/* About */
.about{
    background-color: #1bbc9c;
    color: white;
    padding: 0px 130px;
}
.padding-testo{
    padding: 20px 10px;
}
.download{
    padding: 30px 0;
}
.padding-contact{
    padding: 0px 130px;
}
/* Footer */
.footer-top{
    background-color: #3b546d;
    padding: 40px 0;
    text-align: center;
    color: white;
}
.footer-bottom{
    background-color: #2C3F50;
    color: white;
    padding: 40px 0;
}
