/* Common */
.hero, .about{
    background-color: rgb(27, 188, 156);
}
header, ul li a, .hero, .about, .footer-top, .footer-bottom{
    color: white;
}
body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #2C3F50;
    /* height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 80px; */
}
ul li{
    list-style: none;
    /* padding: 0 10px; */
}
ul li a{
    text-decoration: none;
}
section{
    padding: 80px 0;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
/* Hero */
/* .hero{
    margin-top: 80px;
} */
.circle{
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightblue;
}
/* Portfolio */
.portfolio_img{
    background-color:#bb4b64;
    border-radius: 5px;
    margin: 10px 0;
    /* overflow: hidden;  */
}
/* About */
.about{
    padding: 80px 0;
}
.contenitore_margin_auto{
    max-width: 1000px;
    margin: auto;
}
.padding-testo{
    padding: 20px 10px;
}
.download{
    padding: 30px 0;
}
/* Footer */
.footer-top{
    background-color: #3b546d;
    padding: 40px 0;
    text-align: center;
}
.footer-bottom{
    background-color: #2C3F50;
    padding: 40px 0;
}
